body{
    margin: 0%;
    padding: 0;
}
.nav
{
    animation-name: color-change;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: fixed;
    margin:0;
    padding:0;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 18rem; 
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.541);
}



.nav:hover{
     /* background-color: rgba(141, 140, 140, 0.226); */
} 



.nav-btn{
    /* background-color:#f5e7e7;        */
}

#left-nav {
    padding-left: 2rem;
    display: flex;
    align-items: center;
    gap: 5rem;
}
#right-nav {
    padding-right: 2rem;
    display: flex;
   align-items: center;
   gap: 5rem;
}


ul
{    
    padding: 0%;
    margin: 0%;
    list-style: none;
    padding-left: 0;
}
.menu ul{
    padding-left: 0;

}

ul li.menu {

    margin-top: 1.2rem;
    height: 2.4rem;
    width: 10rem;
    opacity: 0.9;
    line-height: 2.4rem;
    font-size: 1rem;
    text-align: center;
    box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px, rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 48px;
    text-align: center rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 3px;
}
ul li.menus
{      

margin-top: 1.2rem;
height: 2.4rem;
width: 10rem;
opacity: 0.9;
line-height: 2.4rem;
font-size: 1rem;
text-align: center;
box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px, rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 48px;
text-align: center rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
border-radius: 3px;


}
ul li.menu a{
    color:rgb(255, 255, 255);
    font-size: 2rem;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    display: block;
    text-decoration: none;
    
    
}

ul li.menus a{
    color:rgb(211, 209, 209);
    font-size: 2rem;
    font-family: 'Architects Daughter', cursive;
    display: block;
    text-decoration: none;
    
}

ul li.menu a:hover
{
    background-color: rgba(202, 192, 192, 0);
  transition-duration:.52s;
 color: white;
 font-weight:bold;


  
}
ul li.menu ul
{
   
}
ul li.menu ul li.submenu
{
    display: none;
 
    
}
ul li.menu:hover ul li.submenu
    {
      display: block;
     
      background-color:#00000077;
     
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
      
  
    }

  


ul li.menus a:hover
{
  /* background-color: rgb(245, 123, 102); */
  transition-duration:.52s;
  
  
 
  
}
ul li.menus ul li.submenus
{
    display: none;
    
 
}
ul li.menus:hover ul li.submenus
    {
      display: block;
     
      /* background-color:#f5e2e2; */
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;       
    }

.image
{
    width: 100%;
    background-image: url("/MOZOHACK/heart.jpeg");
    background-position: center;
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat ;
}

.image-div{
    display: flex;

  width: 100%;
}

/* @media screen and (max-width: 480px) {  // for responsive ness write it later
    ul li.menu { 

        display: flex;
        justify-content: space-between;
    }
    .image
    {
        display: flex;
    }
} */