*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name_conatiner{
    width: 100%;
    text-align: center;
   
}
.name{
    padding: 1vw;
    color: white;
    background-color: black;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.startup_info_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    flex-wrap: wrap;
    background-color: blue;
   padding: 2rem;
   font-family: 'Poppins', sans-serif;
}
.startup_img_discription_conatiner{
    
    position: relative;
    right: 50px;
    
    color: white;
    width: 50%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
}
.startup_image_container{
    margin-bottom: 0.5rem;
    text-align: center;
}
.startup_image{

    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.startup_discription_conatiner{
    position: relative;
    left: 7.5rem;
    text-align: center;
    background-color: green;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 300px;
    border-radius: 1rem;
}
.startup_info_conatiner{
    width: 40%;
    background-color: orange;
    color: white;
    text-align: center;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.payement_btn{
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
    color: white;
    border: solid burlywood;
    background-color: burlywood;
    cursor: pointer;
}
.payement_btn:hover{
    color: burlywood;
    background-color: white;
    transition: 0.3s;
}