*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.img-carousel{
    width: 100%;
    opacity: 0.8;
    height: 32rem;
}
.btn-carousel {
    color: #fff;
    background-color: #e91e63;
    border-color: #0d6efd;
    padding: 12px;
    border-radius: 7px;
    text-decoration: none;
}

.page{
    height: 100vh;
    /* padding-left: 0.5rem ;
    padding-right: 0.5rem ; */
}
.heading_conatiner{
    color: burlywood;
margin-top: 0.3rem;
 width: 100%;
 text-align: center;
 padding: 0.5rem;
 background-color: rgb(233, 227, 227);
}

.heading{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.flex_blog{
    padding-top: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: space-evenly;
   
}

.conatiner_blog{
    border-radius: 10px;
    margin: 0.3rem;
    color: rgb(255, 255, 255);
background-color: rgb(238, 225, 225);
    padding: 1rem;
    text-align: center;
}
.conatiner_blog:hover{
    color: rgb(19, 93, 95);
    background-color: rgb(121, 212, 103);
    transition: 0.3s;
}
.paragraph_content{
    font-family: 'Poppins', sans-serif;
}
.blog_image{
    border-radius: 10px;
    height: 300px;
    width: 340px;
}

.pargraph_anchor{
    font-family: 'Poppins', sans-serif;
    align-items: center;
    display: inline-block;
    color: rgb(246, 224, 224);
    background-color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 15px;
}
.pargraph_anchor:hover{
    color: white;
    background-color:rgb(63, 3, 3) ;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    transition: 0.4s;
}



.RaiseFund_conatiner{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.container_RAISEFUNDS{
    text-align: center;
}
.RAISEFUNDS{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
.CHILDRENimage{
    width:500px ;
    height: 300px;
    padding: 1rem;
}
.RAISEFUND_BTN{
    margin-top: 0.5rem;
    background-color: burlywood;
    border-radius: 10px;
    border: burlywood solid;
    font-size: 20px;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: white;
}
.RAISEFUND_BTN:hover{
    color: burlywood;
 background-color: white;
 transition: 0.3s;
}


.flex_image{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.container_discription{
    text-align: center;
    padding: 1rem;
}
.discription{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.iamgeart{
    width:280px ;
    height: 300px;
    border-radius: 50px;
    padding: 0.5rem;
}
.container_discription2{
    text-align: center;
}
.discription2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    
}
.sign_btn{
   
    margin: 1rem;
    background-color: burlywood;
    border-radius: 10px;
    border: burlywood solid;
    font-size: 20px;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: white;
}
.sign_btn:hover{
 color: burlywood;
 background-color: white;
 transition: 0.3s;
}

.footer_conatiner{
    background-color: rgb(247, 228, 230);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}

.footer_image_conatiner{
    
    width: 100%;
}
.footer_image{
    background-color: pink;
}
.footer_content{
   
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.footer_discription_heading{
    color: rgb(214, 76, 168);
    position: relative;
    right: 3vw;
    font-family: 'Poppins', sans-serif;
}
.discription_list_{
    font-family: 'Poppins', sans-serif;
}

.footer_icons_conatiner{
    background-color: blanchedalmond;
    padding: 1.5rem;
    display: flex;
    gap: 5rem;
    justify-content: center;
}
i{
    font-size: 30px;
}
#linkedin:hover{
    color: blue;
    transition: 0.2s;
}
#github:hover{
    color: black;
    transition: 0.2s;
}
#yotube:hover{
    color: red;
    transition: 0.2s;
}